@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --soft-red: hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan:hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align:center;
    font-size: 18px;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
}
img{
    display:block;
}
p{
    font-size: 18px;
    padding-top: 18px;  
}
#text2{
    color: var(--Grayish-blue);
}
a{
    text-decoration: none;
}
.arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14.2rem;
}
header{
    padding:1rem;
    color:var(--White);
    position: relative;
    height: 70%;
    background-image: url("images/mobile/image-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Fraunces', serif;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

h2{
    font-size: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h3{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}
.side-nav2{
    display: none;
}
.side-nav{
    display: none;
    flex-direction: column;
    border-radius: 0 0 -10px;
    width: 90%;
    position: absolute;
    background-color: var(--White);
    top: 80px;
    z-index: 2;
    padding: 1rem;
    font-size: 1.4rem;
    transition: all ease-in-out 5s;
}
.side-nav > a{
    margin: 1rem;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: var(--Grayish-blue);
    font-size: 1.4rem;
}
button{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--yellow);
    border: none;
    margin: 1.5rem; 
    margin-left: 4.7rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase; 
    font-size: 1rem;
}

.image-transform-desktop,
.image-stand-out-desktop,
.image-graphic-design-desktop,
.image-photography-desktop,
.image-milkbottles-desktop,
.image-orange-desktop,
.image-cone-desktop,
.image-sugarcube-desktop
{
    display:none;
}
.image-transform-mobile,
.image-stand-out-mobile,
.image-photography-mobile,
.image-graphic-design-mobile{
    width: 100%;
}
.image-milkbottles-mobile,
.image-orange-mobile,
.image-cone-mobile,
.image-sugarcube-mobile{
    width: 50%;
}
.column{
    display: flex;
}
.first-section,
.second-section{
    display:flex;
    flex-direction: column-reverse;
}
.transform{
    color: var(--Very-dark-desaturated-blue);
    padding: 2rem 12px 2rem 12px;
}
#learn,
#learn2{
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    align-self: flex-start;
    padding: 5px 1.5rem;
    padding-top: 18px;
}
#learn,
#learn2:hover{
    cursor: pointer;
}
#learn::after,
#learn2::after{
   content: '';
   z-index: -1;
   width: 100%;
   height: 0.5rem;
   position: absolute;
   left: 0;
   top: 68%;
   border-radius: 1rem;
   transition: 0.15s;
}
#learn::after{
    background-color: var(--yellow);
}
#learn2::after{
    background-color: var(--soft-red);
}
.graph{
    position: absolute;
    top: 270%;
    color: var(--dark-desaturated-cyan);
}
#text{
    padding: 0.8rem;
}
.photo{
    position: absolute;
    top: 337%;
    color: var(--dark-blue);
}
.testimonials{
    text-align: center;
    background-color: var(--White);
    margin-top: 70px;
}
.testimonial-header{
    color: var(--Grayish-blue);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
}
.testimonial-section{
    margin: 5rem 1.5rem 5rem 1.5rem;
}
.testimonial-pic{
    width:30%;
    border-radius: 350px;
    display: inline-block;
    margin-top: 2rem;
}
#testimonial-text{
    color: var(--Dark-grayish-blue);
    margin-top: 1rem;
}
.nameset{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#name{
    font-family: 'Fraunces', serif;
}
#role{
    display:block;
    color: var(--Dark-grayish-blue) ;
}
footer{
    background-color: var(--dark-moderate-cyan);
    text-align: center;
}
.logo{
    padding-top: 40px;
    display: inline-block;
}
.media-links{
    display: flex;
    justify-content: center;
    margin:3rem;
}
.media-links > img{
    width: 20%;
    padding-right: 25px;
}
.bottom-nav{
    margin: 2rem;
    padding-bottom: 2rem;
    padding-left: 14px;
}
.bottom-nav > a{
    color:var(--dark-desaturated-cyan);
    padding-right: 15px;
}
.bottom-nav > a:hover{
    color:var(--White);
    cursor: pointer;
}
.show{
    display:flex;
}
.graph{
    top: 337%;
}
.photo{
    top: 425%;
}
@media (min-width: 320px){
    .graph{
        top: 320%;
    }
    .photo{
        top: 410%;
    }
}
@media (min-width: 425px){
    .graph{
        top: 380%;
    }
    .photo{
        top: 500%;
    }
}
@media (min-width: 500px){
    .graph{
        top: 420%;
    }
    .photo{
        top: 560%;
    }
}
@media (min-width: 700px){
    h2{
        font-size: 3rem;
        letter-spacing: 6px;
    }
    header{
        background-image: url('images/desktop/image-header.jpg');
    }
    .top{
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        margin: 1rem;
    }
    .hambuger{
        display: none;
    }
    .side-nav{
        display: none;
    }
    .side-nav2{
        display: flex;
    }
    .side-nav2 > a{
        margin: 10px;
        color: var(--White);
    }
    .button2{
        width: 120px;
        height: 50px;
        border-radius: 20px;
        border: none;
        font-family: 'Fraunces', serif;
        margin-left: 1rem;
        text-transform: uppercase;
        background-color: white;
        margin-top: -5px;
    }
    button:hover{
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    .top-logo{
        width: 15%;
    }
    .image-transform-desktop,
    .image-stand-out-desktop
    {
       display:block;
       width:50%;
    }
    .image-transform-mobile,
    .image-stand-out-mobile,
    .image-photography-mobile,
    .image-graphic-design-mobile,
    .image-milkbottles-mobile,
    .image-orange-mobile,
    .image-cone-mobile,
    .image-sugarcube-mobile{
        display: none;
    }
    .image-milkbottles-desktop,
    .image-orange-desktop,
    .image-cone-desktop,
    .image-sugarcube-desktop{
        width:50%;
    }
    .transform{
        width: 50%;
        margin: 1.2rem;
        text-align: left;
    }
    .first-section{
        flex-direction: row;
    }
    .second-section{
        flex-direction: row-reverse;
    }
    .third-section{
        display: flex;
        flex-direction: row;
    }
    .image-photography-desktop,
    .image-graphic-design-desktop{
        display: block;
        width: 100%;
        height: 140%;
    }
    .graph{
        width: 50%;
        top: 240%;
        left: 0;
    }
    .photo{
        width: 50%;
        top: 240%;
        right: 0;
    }
    #text{
        padding: 2rem;
    }
    .testimonials{
        margin-top: 150px;
    }
    .testimonial-section{
        display: flex;
    }
    .emily,
    .thomas,
    .jennie{
        width:32%;
    }
    .image-milkbottles-desktop,
    .image-orange-desktop,
    .image-cone-desktop,
    .image-sugarcube-desktop{
        display: block;
        width: 50%;
    }
    .photos{
        display: flex;
        flex-direction: row;
    }
    .media-links > img{
        width: 4%;
        padding-right: 25px;
    }
    #testimonial-text{
        margin: 1rem;
        font-size: 15px;
    }
    #name{
        font-size: 16px;
    }
    #role{
        font-size: 15px;
    }
}
@media (min-width: 768px){
    .graph{
        top: 168%;
    }
    .photo{
        top: 168%;
    }
    .testimonials{
        margin-top: 200px;
    }
}
@media (min-width: 820px){
    header{
       height: 50%;
    }
    .graph{
        top: 135%;
    }
    .photo{
        top: 135%;
    }
    .media-links > img{
        width: 7%;
    }
    
}
@media (min-width: 1024px){
    header{
        height: 80%;
    }
    #text{
        padding: 2rem 4rem;
    }
    .top-logo{
        width: 20%;
    }

    .arrow{
        top: 16rem;
    }
    h2{
        margin-top: 4rem;
    }
    h3{
        font-size: 2.5rem;
    }
    .transform{
        margin: 5rem;
    }
    .graph{
        top: 310%;
    }
    .photo{
        top: 310%;
    }
    .testimonials{
        margin-top: 250px;
    }
    .testimonial-section{
        margin: 2rem;
    }
}
@media (min-width: 1280px){
    .transform{
        margin: 9rem;
    }
    .graph{
        top: 300%;
    }
    .photo{
        top: 300%;
    }
    .testimonials{
        margin-top: 280px;
    }
    .testimonial-section{
        margin: 3rem;
    }
    #text {
        padding: 2rem 7rem;
    }
    .image-photography-desktop,
    .image-graphic-design-desktop{
        display: block;
        width: 100%;
    }
    .media-links > img {
        width: 4%;
    }
}
